.coverage/
.nyc_output/
.testresults/
.circleci/
.github/
.vscode/
config/
test/
appveyor.yml
.appveyor.yml
.eslintignore
.eslintrc.js
husky.config.js
jsconfig.json
renovate.json
sonar-project.properties
*.tgz
*.tar*