{
    "include": [
      "lib/**/*.js"
    ],
    "exclude": [
    ],
    "reporter": [
        "html",
        "lcov",
        "cobertura",
        "text",
        "text-summary"
    ],
    "cache": true,
    "all": true,
    "report-dir": "./.coverage",
    "per-file": true,
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100
}

 